@using GroceriesTool.DAL.Models
@model List<GrocerieViewModel>
@{
    ViewData["Title"] = "Groceries";
}
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    @Html.ActionLink("Create new Product", "Create", null, null, new { @class = "btn btn-default" })
    @Html.ActionLink("Get all the stock", "Stock", null, null, new { @class = "btn btn-default" })
    <a class="btn btn-default tablesize stacktable large-only" href="#" onclick="window.print();return false;"><span class="glyphicon glyphicon-print"></span> Print</a>
    <table class="table table-striped tablesize stacktable large-only">
        <thead>
            <tr>
                <th class="print">Id</th>
                <th class="print">Product</th>
                <th>-</th>
                <th class="print">Stock</th>
                <th>+</th>
                <th class="print">Price</th>
                <th class="print">Code</th>
                <th class="print">BuyLocation</th>
                <th class="print">StoreName</th>
                <th class="print"></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td class="print">@item.Id</td>
                <td class="print">@item.Product</td>
                <td><button class="btn btn-default buttonDown"><span class="glyphicon glyphicon-menu-down"></span></button></td>
                <td class="print"><input readonly="readonly" class="stockValue" type="number" value="@item.Stock" data-id="@item.Id" style="width:35px;" /></td>
                <td><button class="btn btn-default buttonUp"><span class="glyphicon glyphicon-menu-up"></span></button></td>
                <td class="print">@item.Price</td>
                <td class="print">@item.Code</td>
                <td class="print">@item.BuyLocation</td>
                <td class="print">@item.StoreName</td>
                <td class="btn-group" data-category="Actions">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </table>
    @foreach (var item in Model)
    {
        <div class="col-sm-12 table table-striped tablesize stacktable small-only">
            <div class="row rij">
                <div class="col-xs-6">Id:</div>
                <div class="col-xs-6">@item.Id</div>
            </div>
            <div class="row rij">
                <div class="col-xs-6">Product:</div>
                <div class="col-xs-6">@item.Product</div>
            </div>
            <div class="row rij hidden-xs">
                <div class="col-xs-6">Stock:</div>
                <div class="col-xs-6">
                    <button class="btn btn-default buttonDown plusminsize"><span class="glyphicon glyphicon-menu-down"></span></button>
                    <input readonly="readonly" class="stockValue" type="number" value="@item.Stock" data-id="@item.Id" style="width:35px;" />
                    <button class="btn btn-default buttonUp plusminsize"><span class="glyphicon glyphicon-menu-up"></span></button>
                </div>
            </div>
            <div class="row rij">
                <div class="col-xs-6">Price:</div>
                <div class="col-xs-6">@item.Price</div>
            </div>
            <div class="row rij">
                <div class="col-xs-6">Code:</div>
                <div class="col-xs-6">@item.Code</div>
            </div>
            <div class="row rij">
                <div class="col-xs-6">BuyLocation:</div>
                <div class="col-xs-6">@item.BuyLocation</div>
            </div>
            <div class="row rij">
                <div class="col-xs-6">StoreName:</div>
                <div class="col-xs-6">@item.StoreName</div>
            </div>
            <div class="row rij">
                    <div class="col-xs-4">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default actionbtn" })</div>
                    <div class="col-xs-4">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default actionbtn" })</div>
                    <div class="col-xs-4">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default actionbtn" })</div>
            </div>
            <br />
        </div>
    }   

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $(".buttonUp").on("click", function () {

            $(this).parent().parent().find(".stockValue").val(function (i, oldVal) {
                var newVal = ++oldVal;
                var obj = { id: $(this).data("id"), stock: newVal };
                saveChanges(obj);
                return newVal;
            });
        });
        $(".buttonDown").on("click", function () {
            $(this).parent().parent().find(".stockValue").val(function (i, oldVal) {
                var newVal = --oldVal;
                var obj = { id: $(this).data("id"), stock: newVal };
                saveChanges(obj);
                return newVal;
            });
        });
        var saveChanges = function (item) {
            if (item.stock <= -1 || item.stock >= 100) return;
            $(this).parent().parent().find(".stockValue").val(function (i, oldval) { });
            $.ajax({
                item: item,
                type: "POST",
                url: '@Url.Action("EditStock", "Groceries")',
                data: 'id='+item.id+'&stock='+item.stock,
                success: function (response) {
                    console.log("saved");
                },
                error: function () {
                }
            });
        }
    });
    </script>
}