@using GroceriesTool.DAL.Models
@model List<StoreViewModel>
@{
    ViewData["Title"] = "Stores";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@Html.ActionLink("Create new Product", "Create", null, null, new { @class = "btn btn-default" })</p>

<table  class="table table-striped tablesize stacktable large-only">
    <thead>
        <tr>
            <td>StoreName ID</td>
            <td>OpeningHours</td>
            <td>ClosingHours</td>
            <td>StoreName</td>
            <td>StoreLocation</td>
            <td></td>
        </tr>
    </thead>
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.Id</td>
            <td>@item.Openinghours</td>
            <td>@item.Closinghours</td>
            <td>@item.StoreName</td>
            <td>@item.StoreLocation</td>
            <td class="btn-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default actionbtn" }) 
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default actionbtn" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default actionbtn" })
            </td>
        </tr>
    }
</table>
@foreach (var item in Model)
{
    <div class="col-sm-12 table table-striped tablesize stacktable small-only">
        <div class="row rij">
            <div class="col-sm-2">Id:</div>
            <div class="col-sm-3">@item.Id</div>
        </div>
        <div class="row rij">
            <div class="col-sm-2">Openinghours:</div>
            <div class="col-sm-3">@item.Openinghours</div>
        </div>
        <div class="row rij">
            <div class="col-sm-2">Closinghours:</div>
            <div class="col-sm-3">@item.Closinghours</div>
        </div>
        <div class="row rij">
            <div class="col-sm-2">StoreName:</div>
            <div class="col-sm-3">@item.StoreName</div>
        </div>
        <div class="row rij">
            <div class="col-sm-2">StoreLocation:</div>
            <div class="col-sm-3">@item.StoreLocation</div>
        </div>
        <div class="row rij">
            <div class="col-xs-4">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default actionbtn" })</div>
            <div class="col-xs-4">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default actionbtn" })</div>
            <div class="col-xs-4">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default actionbtn" })</div>
        </div>
        <br />
    </div>
}